<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الرئيسية</title>
    <link rel="stylesheet" href="style/home.css">
</head>
<body>

    <img src="images/bg.png" alt="" class="bg">
    

    <div class="container">
        
        <div class="up">

            <!-- if user not auth add none to user class -->
            <div class="user">
                <img src="images/radwan.jpeg" alt="">
                <p>Radwan Gaber</p>
            </div>

            <div class="btns">
                <a href="#" class="cyan">انشاء حساب</a>
                <a href="#" class="green">تسجيل الدخول</a>
                <a href="#" class="green">ابدأ بث مباشر </a>
                <a href="#" class="red">تسجيل الخروج</a>
            </div>

        </div>


        <div class="lives">

            <!-- loop in lives based here -->
            <div class="live">
                
                <div class="info">
                    <div class="u">
                        <img src="images/radwan.jpeg" alt="">
                        <p>Username</p>
                    </div>
                    <p>3 min ago</p>
                </div>

                <div class="des">
                    <p>الوصف هنا</p>
                </div>

                <div class="save-btn">
                    <a href="#">دخول</a>
                </div>

            </div>




        </div>
        
    </div>

</body>
</html>