<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Room </title>
    <link rel="stylesheet" href="style/room.css">
</head>
<body>
    
    <img src="images/bg.png" alt="" class="bg">

    
    <div class="container">


        <div class="left">

            <video src="" id="live"></video>
            
            <input type="text" placeholder="ادخل رسالتك هنا" id="msg-value">
            
            <button type="button" id="send-msg">ارسال</button>

        </div>


        <div class="right">

            <div class="live-timeline">

                <div class="msg-box">

                    <!-- loop messages here -->
                    <div class="box">
                        <div class="msg" id="1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, debitis.</div>
                    </div>

                </div>

                <div class="details">
                    <p>عدد الرسائل : </p>
                    <p id="msg-counter">1</p>
                </div>

            </div>
            
        </div>
        

    </div>



</body>
</html>