{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{room.title}} </title>
    <link rel="stylesheet" href="{% static 'style/room.css' %}">
</head>
<body>
    
    <img src="{% static 'images/bg.png' %}" alt="" class="bg">

    
    <div class="container">


        <div class="left">

            <video src="" id="live"></video>
            <div class="btns">
                <button id="start-live">تشغيل البث</button>
                <a href="{% url 'delete_room' room.room_id %}" id="end-live">انهاء البث</a>
                <button id="copy-live-url" data-url="{{room_url}}">نسخ رابط البث</button>
            </div>
            
        </div>


        <div class="right">

            <div class="live-timeline">

                <div class="msg-box">

                    <!-- loop messages here -->
                    {% for msg in room.messages %}
                        <div class="box">
                            <div class="msg" id="{{msg.id}}">{{msg.text}}</div>
                        </div>  
                    {% endfor %}

                </div>

                <div class="details">
                    <p>عدد الرسائل : </p>
                    <p id="msg-counter">{{room.count_messages}}</p>
                </div>

            </div>
            
        </div>
        

    </div>


    <script>
        // code for copy url of live to clipboard
        var copy_btn = document.getElementById('copy-live-url'); 
        copy_btn.addEventListener('click',()=>{
            navigator.clipboard.writeText(copy_btn.dataset.url)
            alert('تم النسخ بنجاح')
        })
    </script>

</body>
</html>